@use '../abstracts/variables' as *;

body {
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    line-height: $body-line-height;
    color: $body-text-color;
    background-color: $body-background-color;
}

a {
    color: $link-color;
    text-decoration: $link-text-decoration;
}

a:is(:hover, :focus) {
    color: $link-color-hover;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}