@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$sans-serif: 'Overpass', Verdana, sans-serif;

$font-sizes: (
    '100': 1.5rem,
    '200': 1.7rem,
    '300': 2.6rem
);

$font-weights: (
    'regular': 400,
    'bold': 700
);